@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}


.main{
  width: 46rem;
  margin: 1rem auto;
 
  display: flex;
  flex-direction: column;

  /* padding: 1rem 1rem; */
  border-radius: 0.8rem;
 
  
   
}